@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');
body {
  font-size: 14px;
  line-height: 1.3;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}
#container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}
.timeline-item {
  padding: 2em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timeline-item p, li {
  font-size: 1.4rem;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 1em;
  font-weight: bold;
  top: 0.3em;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}
.timeline-item::after {
  width: 1rem;
  height: 1rem;
  display: block;
  top: 1em;
  position: absolute;
  left: -0.65rem;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

